@import './styles/variables.scss';
@import './styles/responsive.scss';
@import './styles/themes.scss';

.App {
  text-align: center;
  font-family:$body-sans;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: $black-drop;
  color:$accent-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.main {
  padding-top:40px;
}

.App-link {
  color: $primary-color;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.forecast-panel-menu {
  background-color:$primary-color;
  li {
    a {
      color:$accent-color;
      font-weight:bold;
    }
  }
}

.collapse:not(.show) {
  display: none;
}

.app-router-nav {
  position:fixed;
  bottom:0;
  width:100%;
  
  background-color:$black-drop;
  .forecast-panel-menu {
    margin:6px 0px;
    background-color:unset;
    text-align:center;
    padding-left:0px;
    li {
      display:inline-block;
      padding:12px;
      font-weight:bold;
      margin:0px 15px;
      a {
        text-decoration:none;
        color:$blue-sky;
      }
    }
  }
}